<% layout("/layouts/boilerplate")-%>
<body>
  <div class="row mt-4 mb-2">
    <div class="col-8 offset-2">
      <h3>Add new Community</h3>
      <form
        method="POST"
        action="/community/<%=community._id%>?_method=PUT"
        class="needs-validation"
        novalidate
      >
        <div class="mb-3">
          <lable for="name" class="form-label">Name</lable>
          <input
            name="community[name]"
            value="<%=community.name%>"
            type="text"
            class="form-control"
            required
          />
          <div class="valid-feedback">Looks good!</div>
          <div class="invalid-feedback">Name is neccessary</div>
        </div>

        <div class="mb-3">
          <label for="description" class="form-label">Description</label>
          <textarea
            name="community[description]"
            value="<%=community.description%>"
            class="form-control"
            required
          ></textarea>
          <div class="invalid-feedback">Enter description before creating</div>
        </div>
        <div class="mb-3">
          <label for="image" class="form-label">Update Image</label>
          <img
            src="<%=community.image%>"
            class="img-fluid"
            alt="Community Image"
          />
          <input
            name="community[image]"
            value="<%=community.image%>"
            type="text"
            class="form-control"
          />
        </div>
        <div class="row">
          <div class="mb-3 col-md-4">
            <label for="price" class="form-label">Price</label>
            <input
              name="community[price]"
              value="<%=community.price%>"
              type="number"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Give some valid price</div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-8">
            <label for="code" class="form-label">Edit joining Code</label>
            <input
              name="community[code]"
              value="<%=community.code%>"
              type="text"
              class="form-control"
              maxlength="5"
              minlength="5"
              required
            />
            <div class="invalid-feedback">The code should be of length 5</div>
          </div>
        </div>
        <div class="row">
          <div class="mb-3 col-md-8">
            <label for="country" class="form-label">Country</label>
            <input
              name="community[country]"
              value="<%=community.country%>"
              type="text"
              class="form-control"
              required
            />
            <div class="invalid-feedback">Enter a valid country</div>
          </div>
        </div>

        <div class="mb-3">
          <label for="location" class="form-label">Location</label>
          <input
            name="community[location]"
            value="<%=community.location%>"
            type="text"
            class="form-control"
            required
          />
          <div class="invalid-feedback">Enter a valid city</div>
        </div>

        <button class="btn btn-dark add-btn">Save Changes</button>
      </form>
    </div>
  </div>
</body>
